
hr {
    border: 4px solid #329F05;
}

.folder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.img {
    border-radius: 50%;
    border: 10px solid #329F05;
    width: 170px;
}

.center_mercados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    position: relative;

}

.title_recomendados {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 0;
    color: #329F05;
}

.frase_recomendados {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 50px;
}

.recommended_markets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    width: 70%;
}

.mercados_recomendados {
    text-align: center;
}

.mercados_recomendados a{
    text-decoration: none;
}

.mercados_recomendados img:hover{
    box-shadow: 2px 2px 8px #329F05;
}

.mercados_recomendados h2 {
    color: #329F05;
    font-size: 20px;
    margin-top: 0px;
    border-radius: 10px;
}

.mercados_recomendados h2:hover {
    /* box-shadow: 1px 5px 8px #329F05; */
}

.btn-verMas{
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    font-weight:500;
    background-color: #329F05;
    border: 1px solid #329F05;
    margin-top: 30px;
}

.center_mercados button:hover{
    background-color: #3a9413;
    box-shadow: 2px 2px 8px #2a7908;
}


.hojasIzquierda{
    position: absolute;
    z-index: -20;
    left: 150px;
    transform: rotate(15deg);
}

.hojasDerecha{
    position: absolute;
    z-index: -20;
    right: 145px;
    transform: rotate(350deg);
}

.featured_products {
    /* background-color: #329F05; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.serch_products h2 {
    color:#329F05;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 4px;
}

.serch_products {
    height: 250px;
}

.serch_products p {
    margin-top: 0;
    color: rgb(82, 79, 79);
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
}

.serch_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.busquedaProductos {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #329F05;
}

.buscar {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: #329F05;
    color: #ffffff;
}

.buscar:hover {
    /* color: rgb(77, 255, 0); */
    background-color: #7cc769;
}

.center_products_ {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center_productsDiscount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center_productsDiscount h2 {
    margin-top: 50px;
    font-size: 40px;
    color: #ffffff;
}

.products_discount {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 70%;
    padding-bottom: 90px;
}

.products_ {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    width: 70%;
    margin-top: 90px;
}