.registro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.regresar_registro {
    color: #fff;
    margin-bottom: 200px;
    margin-left: 50px;
}

.img_registro {
    width: 100%;
    height: 100vh;
}

.register_form {
    background-color: #329F05;
}

.form_registro_ {
    width: 70%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
}

.center_form_register {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

.part_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.part_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 320px;
}

.registras_button input {
    border-radius: 13px;
    border: none;
    padding: 8px 35px; 
    color: #329F05;
    font-size: 16px;
}

.link_login,
.link_login a,
.link_inicio, 
.link_inicio a {
    color: #ffffff;
}

.link_login a:hover,
.link_inicio a:hover {
    color: rgb(215, 215, 215);
}

.title_merCampesino_regsiter {
    margin-left: 300px;
    margin-bottom: 20px;
    display: flex;
    color: white;
    width: 20px;
}