.navbar{
    display: flex;
    align-items: center;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.navbar li {
    list-style: none;
}

/* a:hover {
    color: rgb(181, 179, 179);
} */