footer {
    height: 400px;
    background-color: #329F05;
    color: white;
    margin-top: 70px;
}

.imgs {
    width: 100px;
}

.above {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.cont_about_us,
.cont_email,
.cont_phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}